.glossary-container {
    position: absolute;
    /* top: 80px; */
    top: 1000px;
    z-index: 2;
    color: #fff;
    padding: 10px 20px;
    height: auto;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    transition: all .3s ease-in-out;
    gap: 5px;
}
.searchBar {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search {
    margin: 10px;
    height: 60px;
    width: 50%;
    border-radius: 10px;
    border: 2px solid rgba(0, 204, 255, 0.1);
    padding: 10px;
    font-size: 1.5rem;
    outline: none;
    background-color: rgba(0, 204, 255, 0.1);
    color: #fff;
    transition: all 0.2s ease-in-out;
}
.search:focus, .search:hover {
    border: 2px solid #fff;
}
.search::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.5rem;
}
.search::selection {
    background-color: #fff;
    color: #0298be;
}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
.term {
    font-size: 2rem;
    font-weight: 400;
    cursor: pointer;
    width: max-content;
    transition: transform 0.3s ease;
}
.term:hover {
    transform: scale(1.01);
}
.small-box {
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid transparent;
    width: 100%;
}
.definition {
    display: none;
    font-size: 1.6rem;
}
.term i {
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.15s ease;
}
.term i:hover {
    transform: scale(1.1);
}

@media (max-width: 950px) {
    .glossary-container {
        padding: 10px;
        padding-top: 0;
    }
    .term {
        font-size: 1.5rem;
        margin: 5px 0;
        max-width: 80vw;
        word-break: break-word;
        flex-wrap: wrap;
    }
    .term:hover {
        transform: scale(1);
    }
    .definition {
        font-size: 1.4rem;
    }
    .search {
        height: 50px;
        width: 100%;
    }
}