.solar-system-container {
    position: absolute;
    /* top: 80px; */
    top: 1000px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    transition: all 0.3s ease-in-out;
    gap: 5px;
    z-index: 2;
    color: #fff;
    padding: 5px 20px;
}
.planet-box {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 220px;
    height: 320px;
    background-color: rgba(0, 204, 255, 0.1);
    border: 2px solid #fff;
    border-radius: 20px;
    font-size: 1rem;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.planet-box:hover {
    transform: scale(1.02);
}
.planet-box h3 {
    margin: 0 5px;
    font-size: 2rem;
    width: 100%;
}
.planet-box img {
    background-position: center;
    background-size: cover;
    width: auto;
    height: 150px;
    padding: 10px;
}
.planet-box .planet-content {
    width: 100%;
    height: 100%;
    margin: 5px;
    font-size: 1.2rem;
    scroll-behavior: smooth;
}
/* For dynamic elements classes */
.solar-system-container .data-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.planet-image, .planet-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: auto;
    flex: 1;
    padding: 5px;
}
.planet-image img {
    width: 300px;
    height: 300px;
    background-position: center;
    background-size: cover;
}
.planet-image img:hover {
    transform: scale(1.05);
}
.planet-data {
    display: flex;
    scroll-behavior: smooth;
    gap: 3px;
    font-size: 1.4rem;
}
.planet-data h2 {
    font-size: 4rem;
}
.solar-system-container .back {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 120px;
    height: 40px;
    align-self: flex-end;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: rgba(0, 204, 255, 0.1);
    color: #fff;
    transition: transform 0.15s ease;
}
.solar-system-container .back:hover {
    transform: scale(1.01);
}

/* For mobile view */
@media (max-width: 950px) {
    .planet-box {
        width: 250px;
        height: 350px; 
    }
    .planet-box img {
        background-position: center;
        background-size: cover;
        width: auto;
        height: 200px;
        padding: 10px;
    }
    .data-container {
        flex-direction: column;
    }
    .planet-image img {
        margin: 0;
        margin-top: 20px;
    }
    .planet-data {
        margin: 0;
        gap: 10px;
        font-size: 1.4rem;
    }
    .planet-data h2 {
        font-size: 3rem;
        align-self: center;
        margin: 10px;
    }
    .solar-system-container .back {
        width: auto;
        height: auto;
        padding: 5px 10px;
        top: 0;
        left: 0;
        margin: 5px;
    }
}
